.main {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 800px;
    height: 90vh;
    margin: 2vh max(2vh, 50% - (600px / 2));
    padding: 18px;
    background-color: rgb(55, 55, 55);
    bodrer: 1px solid #fff;
    border-radius: 4px;
}

@media (prefers-color-scheme: light) {
    .main {
        background-color: #ffffff;
    }
}
